body main .article1 {
    margin-left: 5px;
    display: grid;
    grid-template-areas: "main main main";
}
body main .article2 {
    margin-left: 5px;
    display: grid;
    grid-template-areas: "main main main";
}
body main .article3 {
    margin-left: 5px;
    display: grid;
    grid-template-areas: "main main main";
}