#persoon {
    display:block;
    border:3px solid pink;
    background-color: #cb98a1;
    width:500px;
    text-align:center;
    grid-area: main;
}
#persoon img {
    width: 400px;
}
nav button {
    padding: 10px 20px;
    transition-duration: 0.4s;
    float:left;
    background-color: #1834a2;
    border: 1px solid #1834a2;
    color:white;
}
nav button:hover  {
    background-color:lightgray;
    color:black;
}
main {
    display:grid;
    align-items:center;
    grid-template-areas: "main main main";
}